############################################
### Sample Data Act Broker Configuration ###
############################################


broker:

    # Specify the url where the front end of the application will be accessed.
    # For a local installation this will most likely be localhost or the 
    # location where the /public files are located. If a port is required, 
    # it should be appended to the URL.
    full_url: http://dataactbroker.domain.com


    # Set the key (string) used to serialize tokens for email validations.
    email_token_key: "1234"

    # Specify valid email address to be used as reply-to for
    # administrative emails sent by the broker.
    reply_to_email: valid.email@domain.com

    # The path where the broker will store submitted files and emails
    # when the broker is not using an AWS S3 bucket.
    # This should be an absolute path. Note that this path
    # is ignored if use_aws is true.
    broker_files: /full/path/to/broker/files

    # The folder within dataactvalidator/config where USPS zip4 files are stored
    zip_folder: zips

    ## Smartronix API URLs ##

    # File D1 API
    # Uses "{}" because it requires string formatting to insert query parameters
    # If the URL is provided, the file name provided will be used when uploading to S3
    award_procurement_url: https://data-usas.uat.workplace.gov/api/contracts?CGAC={}&date_signed_beginning={}&date_signed_end={}&callback={}
    award_procurement_file_name: d1_data.csv

    # File D2 API
    # If the URL is provided, the file name provided will be used when uploading to S3
    award_url: https://data-usas.uat.workplace.gov/api/assistance?CGAC={}&date_signed_beginning={}&date_signed_end={}&callback={}
    award_file_name: d2_data.csv

    d_file_storage_path: /full/path/to/d/file/storage

    # File E
    awardee_attributes_url: https://sample.gov
    awardee_attributes_file_name: awardee_data.csv
    executive_compensation_url: https://sample.gov
    executive_compensation_file_name: executive_compensation_data.csv

    # File F
    sub_award_url: https://sample.gov
    sub_award_file_name: sub_award_data.csv

    # Include folder and filename of RSS file if running on AWS, if running locally the RSS folder and file should be in
    # the broker_files directory specified above
    rss_folder: rss
    rss_file: rss_file.xls
    
    # S3 filenames for SF-133 file, only required if planning to load SF-133 table
    sf_133_folder: config

    # Static Files Locations
    static_files_bucket: sample-static-files-bucket
    help_files_path: sample-help-files-folder

    # MAX login
    cas_service_url: https://cas.service.url/cas/serviceValidate?ticket={}&service={}
    parent_group: sample

services:
    # Set to true to turn on tracing rest errors.
    rest_trace: false #deprecated

    # Set to true to turn on server debugging.
    server_debug: false #deprecated
    debug: false

    # URL/IP address that hosts the broker API
    broker_api_host: http://dataactbroker-api.domain.com
    broker_api_port: 443

    # URL/IP address that hosts the validator API
    validator_host: http://dataactbroker-validator-api.domain.com
    validator_port: 80

    # If you would like to restrict access from other origins, set the
    # allowed origins here. Otherwise, leave as '*'.
    cross_origin_url: '*'

    # The path where the broker will store error reports
    # generated by the validator. If you're running
    # everything on the same server, consider using the
    # same path as the broker_files setting (above)
    # for simplicity.
    # This should be an absolute path. Note that this path
    # is ignored if use_aws is true.
    error_report_path: /full/path/to/error/reports

    # The paths to the sample D1 and D2 files for local development
    d1_file_path: /full/path/to/d1/file/sample/d1_sample.csv
    d2_file_path: /full/path/to/d2/file/sample/d2_sample.csv

    # We import award/subaward records from FSRS
    fsrs:
        procurement_service:
            wsdl: ''  # e.g. https://example.com/?wsdl'
            username: ''
            password: ''
        grant_service:
            wsdl: ''  # e.g. https://example.com/?wsdl'
            username: ''
            password: ''

db:
    # The name of your default postgres database. Unless you've exlicitly
    # changed this, you should not have to update the value below.
    base_db_name: postgres

    # The type of backend database being used
    scheme: postgres

    # Host and port of db instance. Set to localhost if running locally or set 
    # the remote address
    host: dataactbroker.postgreshost.domain.com
    port: 5432

    # Set the names for each of the application databases
    base_db_name: postgres #This is the default db on the instance. 
    db_name: data_broker

logging:

    # The path where broker still store log files.
    log_files: /full/path/to/logfiles

    values_to_log:
        broker:
            - path
            - use_aws
            - local
            - aws_bucket
            - certified_bucket
            - aws_role
            - aws_region
            - aws_create_temp_credentials
            - static_files_bucket
            - help_files_path
            - d_file_storage_path
            - broker_files
            - award_procurement_url
            - award_procurement_file_name
            - award_url
            - award_file_name
            - awardee_attributes_url
            - awardee_attributes_file_name
            - executive_compensation_url
            - executive_compensation_file_name
            - sub_award_url
            - sub_award_file_name
            - rss_folder
            - rss_file
            - generated_files_folder
            - sf_133_folder
            - sf_133_file
            - full_url
        services:
            - error_report_path
            - broker_api_host
            - validator_host
            - broker_api_port
            - validator_port
            - protocol
            - rest_trace
            - server_debug
        db:
            - base_db_name
            - scheme
        logging:
            - log_files
