#######################################################
### Sample Local Data Act Broker Configuration.     ###
### Values here will override values in config.yml. ###
#######################################################

broker:

    use_aws: false
    validator_batch_size: 10000
    parallel_loading: false
    multiprocessing_pools: 0
    batch_sql_validation_results: true
    full_url: http://127.0.0.1:3000
    reply_to_email: valid.developer.email@domain.com
    broker_files: ./tmp/data_act_broker
    d_file_storage_path: ./tmp/data_act_broker

services:

    debug: true
    broker_api_host: 127.0.0.1
    broker_api_port: 9999
    validator_host: 127.0.0.1
    validator_port: 8889
    error_report_path: /data-act/backend/data-act-broker-backend/temp/error_reports

db:

    scheme: postgres
    host: dataact-broker-db
    port: 5432
    base_db_name: postgres #This is the default db on the instance.
    db_name: data_broker

logging:

    log_files: /data-act/backend/data-act-broker-backend/temp/logs
