.idea/*
*.pyc
dataactcore/*.pyc
dataactcore/aws/*.pyc
dataactcore/models/*.pyc
dataactcore/utils/*.pyc
dataactcore/models/jobTracker.conf
dataactcore/credentials/dbCred.json
dataactcore/aws/s3bucket.json
