.idea/*
app/credentials.json
app/dbCred.json
app/logFile.dat
logFile.dat
credentials.json
node_modules
.tern-port
app/*.pyc
app/handlers/*.pyc
app/handlers/aws/*.pyc
app/models/*.pyc
app/handlers/utils/*.pyc
app/venv
