.idea/*
dataactbroker/logFile.dat
logFile.dat
node_modules
.tern-port
*.pyc
dataactbroker/venv
dataactbroker/errorLog
dataactbroker/responseErrorLog
dataactbroker/scripts/createUser.py
tests/submissionId
tests/tablesCleared
tests/validatorResponse
tests/test.json
dataactbroker/validatorResponse
.coverage