language: python

python:
  - '3.5'

env:
  global:
  - BROKER_DB_HOST=localhost
  - BROKER_DB_PORT=5435
  - ERROR_REPORT_PATH="dataactcore\/tmp\/"

install:
  # NOTE: no pip install needed as long as the one of the docker containers started below builds the
  # `dataact-broker-backend` image, which has a volume bound to the source dir, and runs pip install to pull down deps

before_script:
  # Get dependencies to report code coverage to code climate
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - cp dataactcore/config_example.yml dataactcore/config.yml
  - cp dataactcore/local_config_example.yml dataactcore/local_config.yml
  - cp dataactcore/local_secrets_example.yml dataactcore/local_secrets.yml
  - mkdir ${ERROR_REPORT_PATH}
  - 'sed -i.bak -E "s/host:.*$/host: ${BROKER_DB_HOST}/" dataactcore/local_config.yml'
  - 'sed -i.bak -E "s/port:.*$/port: ${BROKER_DB_PORT}/" dataactcore/local_config.yml'
  - 'sed -i.bak -E "s/error_report_path:.*$/error_report_path: ${ERROR_REPORT_PATH}/" dataactcore/local_config.yml'
  # Start a containerized database to use for tests, which also pulls pip packages required for build as the image is built
  - docker-compose up -d dataact-broker-db dataact-broker-init-db

script:
  - flake8
  - pytest tests/unit/* --cov=. --cov-report xml:tests/coverage.xml --junitxml=tests/test-results.xml
  - pytest tests/integration/* --cov=. --cov-append --cov-report term --cov-report xml:tests/coverage.xml --junitxml=tests/test-results.xml

after_script:
  - docker-compose down
  - rm -r ${ERROR_REPORT_PATH}
  - mv tests/coverage.xml coverage.xml
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
