boto==2.38.0
psycopg2==2.6.1
SQLAlchemy==1.0.9
Flask==0.10.1
Decorator==4.0.4
Requests==2.8.1
flask-cors==2.1.2
future==0.15.2
flask-bcrypt==0.7.1
flask-login==0.3.2
python-logstash==0.4.6
logstash==0.1.dev0
uwsgi==2.0.12
awscli==1.10.10
supervisor==3.2.2