alembic==1.4.3
amqp==1.4.9
awscli==1.19.55
backoff==1.10.0
bcrypt==3.1.3
beautifulsoup4==4.5.1
billiard==3.3.0.23
blinker==1.4
boto3==1.17.55
botocore==1.20.55
bz2file==0.98
cffi==1.13
click==6.6
colorama==0.3.3
coverage==5.3
ddtrace==0.46.0
decorator==4.0.4
docutils==0.12
factory-boy==2.7.0
fake-factory==0.7.2
flake8==3.8.3
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.9
Flask-Login==0.3.2
freezegun==0.3.7
future==0.15.2
iso3166==0.7
itsdangerous==0.24
Jinja2==2.11.3
jmespath==0.9.0
Mako==1.0.4
MarkupSafe==1.1.1
marshmallow==2.19.2
mccabe==0.6.1
numpy==1.19.2
pandas==0.25.3
paramiko==2.7.2
pep8-naming==0.4.1
psutil==5.6.6
psycopg2-binary==2.8.6
py==1.10.0
pycodestyle==2.6.0
pycparser==2.14
pyflakes==2.2.0
pytest==6.0.2
pytest-cov==2.10.1
python-dateutil==2.8.1
python-editor==1.0.1
python-json-logger==0.1.5 
python-logstash==0.4.6
pytz==2020.1
PyYAML==5.4.0
ratelimit==2.2.1
requests==2.25.1
s3transfer==0.4.1
six==1.10.0
SQLAlchemy==1.3.3
SQLAlchemy-Utils==0.37.2
waitress==1.4.0
webargs==5.5.3
WebOb==1.8.6
WebTest==2.0.35
Werkzeug==0.15.5
xmlrunner==1.7.7
xmltodict==0.10.2